* {
    margin: 0;border: 0;box-sizing: border-box; font-family: arial;
}

.btn-x {
    padding: 12px 30px;
    background-color:skyblue;
    color: black;
    border:3px solid rgb(0, 88, 123);
    border-radius: 15px;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 80px;
    background-color: black;
    font-weight: lighter;
}

.navbar img {
    height: 50px;
    transition: .2s ease-in;

}

.navbar img:hover {
    transform: rotate(360deg);
    transition: .5s ease-in;

}


.navbar ul{
    width: 50%;
    display: flex; 
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
   
}
.navbar ul li a{
    text-decoration: none;
    color:skyblue;
    padding: 12px 24px;
    transition: .3s ease-in;
    border-radius: 25px;



}

.navbar ul li a:hover {
    background-color: gold;
    color: black;
    transition: .3s ease-in;


}
.navbar span{
    font-family: arial;
    font-size: 30px;
    color:skyblue;

}


/* home section */
.home-section{
    width: 100%;
    min-height: 100vh;;
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    flex-wrap: wrap;
}


.home-section-text{
    width: 40%;
    display: flex;
   align-items: start;
   justify-content: center;
   flex-direction: column;
    gap: 30px;
    padding-left: 150px;
}
.home-section-text h1{
    font-family: arial;
    font-size: 60px;
    
    color:skyblue;
}



.home-section-image{
    width: 50%;
    height:80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section-image img{
    width: 90%;
        border-radius: 50%;   
}



/* card section */
.car-category-section{

    width: 100%;
    min-height:100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.car-category-data {
    display: flex;
    justify-content: center;
    width: 90%;
    min-height: 400px;
    background-color:yellow;
    border-radius: 25px;
    flex-wrap: wrap;
}


.car-category-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -100px;
    flex-wrap: wrap;
}

.car-category-container .card{
    width: 330px;
    height: 380px;
    background-color: skyblue;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 10px;  



}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: -60px;
}
.card h2{
    font-family: arial;
    color:black;
}
.card button{
    padding: 10px 30px;
    color:skyblue;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
}